@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --battleship-grey: #968E85;
    --pistachio: #8CC084;
    --tea-green: #C1D7AE;
    --dutch-white: #ECDCB0;
    --apricot: #FFCAB1;
}

body {
    height: 100vh;
    background-color: var(--battleship-grey);
    font-family: 'Rubik', sans-serif;
}

body,
h1 {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-size: 2.5rem;
}

form {
    visibility: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: var(--pistachio);
    box-shadow: -5px 5px 2rem var(--apricot), 5px 5px 2rem var(--apricot);
}