@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --battleship-grey: #968E85;
    --pistachio: #8CC084;
    --tea-green: #C1D7AE;
    --dutch-white: #ECDCB0;
    --apricot: #FFCAB1;
    --button-text-color: rgb(81, 80, 80);
}

body {
    min-height: 100vh;
    background-color: var(--battleship-grey);
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-rows: 80px 1fr 20px;
}

body,
h1,
h3,
h4 {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-size: 2.5rem;
}

form {
    visibility: hidden;
    position: absolute;
    background-color: rgba(65, 63, 63, 0.71);
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

label{
    text-align: left;
    width: 55px;
    font-size: 1.25rem;
}

form .text {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

form .checkbox {
    display: flex;
    gap: 16px;
}

input[type=text],
input[type=number] {
    border: none;
    border-radius: 5px;
}

input[type=checkbox] {
    align-self: center;
    transform: scale(2);
}

button[type=submit] {
    background-color: var(--pistachio);
}

header {
    display: flex;
    justify-content: space-around;
    padding: 15px 25px;
    background-color: var(--pistachio);
    box-shadow: 0 0 2rem white;
}

footer {
    text-align: center;
    color: white;
    font-size: .75rem;
}

main {
    text-align: center;
    position: relative;
}

.book {
    background-color: var(--tea-green);
    border-radius: 10px;
    padding: 15px;
    height: 200px;
    box-shadow: 0 0 10px rgb(80, 78, 78);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read,
.remove,
.not-read {
    border: none;
    border-radius: 10px;
    font-size: .85rem;
    color: var(--button-text-color);
    padding: 5px 10px;
    width: 80px;
}

.read, .not-read {
    margin-right: 5px;
}

.read {
    background-color: var(--pistachio);
}

.not-read {
    background-color: var(--apricot);
}

.remove {
    background-color: var(--dutch-white);
}

#cancel-add, button[type=submit] {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    color: var(--button-text-color);
}

#cancel-add {
    background-color: var(--apricot);
}

#add-book {
    background-color: var(--apricot);
    border: none;
    border-radius: 10px;
    align-self: center;
    padding: 5px 10px;
    font-size: 1.25rem;
    color: var(--button-text-color);
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 20%));
    gap: 30px;
    padding: 50px 30px 20px;
    visibility: visible;
}

#empty {
    visibility: hidden;
    color: white;
    font-size: 2rem;
    margin-top: 50px;
}