@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --battleship-grey: #968E85;
    --pistachio: #8CC084;
    --tea-green: #C1D7AE;
    --dutch-white: #ECDCB0;
    --apricot: #FFCAB1;
    --button-text-color: rgb(81, 80, 80);
}

body {
    min-height: 100vh;
    background-color: var(--battleship-grey);
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-rows: 80px 1fr 20px;
}

body,
h1 {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-size: 2.5rem;
}

form {
    visibility: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 15px 25px;
    background-color: var(--pistachio);
    box-shadow: -5px 5px 2rem var(--apricot), 5px 5px 2rem var(--apricot);
}

footer {
    text-align: center;
    color: white;
    font-size: .75rem;
}

main {
    text-align: center;
}

#add-book {
    background-color: var(--apricot);
    border: none;
    border-radius: 10px;
    align-self: center;
    padding: 5px 10px;
    font-size: 1.25rem;
    color: var(--button-text-color);
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* border: 1px solid red; */
    /* justify-content: center; */
}